*{
    margin: 0px;
    padding: 0px;
}
.img-logo1{
    width: 100%;
    height:100%;
    
   
}
.img-logo1 img{
 width: 100%;
 height: 100%;

}

.img-logo2{
    width: 100%;
    height:100%;
}
.img-logo2 img{
    width: 100%;
    height: 100%;
   
   }